{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://email.amazonaws.com/"
        },
        {
            "url": "http://email.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>Amazon Simple Email Service</fullname> <p> This document contains reference information for the <a href=\"https://aws.amazon.com/ses/\">Amazon Simple Email Service</a> (Amazon SES) API, version 2010-12-01. This document is best used in conjunction with the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/Welcome.html\">Amazon SES Developer Guide</a>. </p> <note> <p> For a list of Amazon SES endpoints to use in service requests, see <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/regions.html\">Regions and Amazon SES</a> in the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/Welcome.html\">Amazon SES Developer Guide</a>.</p> </note>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Simple Email Service",
        "version": "2010-12-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/email-2010-12-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "email"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/email/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a receipt rule set by cloning an existing one. All receipt rules and configurations are copied to the new receipt rule set and are completely independent of the source rule set.</p> <p>For information about setting up rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>",
                "operationId": "CloneReceiptRuleSet",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "An empty element returned on a successful request.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "RuleSetDoesNotExistException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AlreadyExistsException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents a request to create a receipt rule set by cloning an existing one. You use receipt rule sets to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.",
                                "example": {
                                    "OriginalRuleSetName": "RuleSetToClone",
                                    "RuleSetName": "RuleSetToCreate"
                                },
                                "properties": {
                                    "OriginalRuleSetName": {
                                        "description": "The name of the rule set to clone.",
                                        "type": "string"
                                    },
                                    "RuleSetName": {
                                        "description": "<p>The name of the rule set to create. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "RuleSetName",
                                    "OriginalRuleSetName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateConfigurationSet": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a configuration set.</p> <p>Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>",
                "operationId": "CreateConfigurationSet",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "An empty element returned on a successful request.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ConfigurationSetAlreadyExistsException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidConfigurationSetException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents a request to create a configuration set. Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.",
                                "properties": {
                                    "ConfigurationSet": {
                                        "description": "A data structure that contains the name of the configuration set.",
                                        "properties": {
                                            "Name": {
                                                "description": "<p>The name of the configuration set. The name must meet the following requirements:</p> <ul> <li> <p>Contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain 64 characters or fewer.</p> </li> </ul>",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "Name"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "ConfigurationSet"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateConfigurationSetEventDestination": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a configuration set event destination.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>An event destination is the AWS service to which Amazon SES publishes the email sending events associated with a configuration set. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>",
                "operationId": "CreateConfigurationSetEventDestination",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "An empty element returned on a successful request.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ConfigurationSetDoesNotExistException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "EventDestinationAlreadyExistsException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidCloudWatchDestinationException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidFirehoseDestinationException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidSNSDestinationException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "LimitExceededException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents a request to create a configuration set event destination. A configuration set event destination, which can be either Amazon CloudWatch or Amazon Kinesis Firehose, describes an AWS service in which Amazon SES publishes the email sending events associated with a configuration set. For information about using configuration sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.",
                                "properties": {
                                    "ConfigurationSetName": {
                                        "description": "The name of the configuration set that the event destination should be associated with.",
                                        "type": "string"
                                    },
                                    "EventDestination": {
                                        "description": "An object that describes the AWS service that email sending event information will be published to.",
                                        "properties": {
                                            "CloudWatchDestination": {
                                                "description": "An object that contains the names, default values, and sources of the dimensions associated with an Amazon CloudWatch event destination.",
                                                "properties": {
                                                    "DimensionConfigurations": {
                                                        "description": "A list of dimensions upon which to categorize your emails when you publish email sending events to Amazon CloudWatch.",
                                                        "items": {
                                                            "description": "<p>Contains the dimension configuration to use when you publish email sending events to Amazon CloudWatch.</p> <p>For information about publishing email sending events to Amazon CloudWatch, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>",
                                                            "properties": {
                                                                "DefaultDimensionValue": {
                                                                    "description": "<p>The default value of the dimension that is published to Amazon CloudWatch if you do not provide the value of the dimension when you send an email. The default value must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain less than 256 characters.</p> </li> </ul>",
                                                                    "type": "string"
                                                                },
                                                                "DimensionName": {
                                                                    "description": "<p>The name of an Amazon CloudWatch dimension associated with an email sending metric. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain less than 256 characters.</p> </li> </ul>",
                                                                    "type": "string"
                                                                },
                                                                "DimensionValueSource": {
                                                                    "description": "The place where Amazon SES finds the value of a dimension to publish to Amazon CloudWatch. If you want Amazon SES to use the message tags that you specify using an <code>X-SES-MESSAGE-TAGS</code> header or a parameter to the <code>SendEmail</code>/<code>SendRawEmail</code> API, choose <code>messageTag</code>. If you want Amazon SES to use your own email headers, choose <code>emailHeader</code>.",
                                                                    "enum": [
                                                                        "messageTag",
                                                                        "emailHeader",
                                                                        "linkTag"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "DimensionName",
                                                                "DimensionValueSource",
                                                                "DefaultDimensionValue"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "required": [
                                                    "DimensionConfigurations"
                                                ],
                                                "type": "object"
                                            },
                                            "Enabled": {
                                                "description": "Sets whether Amazon SES publishes events to this destination when you send an email with the associated configuration set. Set to <code>true</code> to enable publishing to this destination; set to <code>false</code> to prevent publishing to this destination. The default value is <code>false</code>.",
                                                "type": "boolean"
                                            },
                                            "KinesisFirehoseDestination": {
                                                "description": "An object that contains the delivery stream ARN and the IAM role ARN associated with an Amazon Kinesis Firehose event destination.",
                                                "properties": {
                                                    "DeliveryStreamARN": {
                                                        "description": "The ARN of the Amazon Kinesis Firehose stream that email sending events should be published to.",
                                                        "type": "string"
                                                    },
                                                    "IAMRoleARN": {
                                                        "description": "The ARN of the IAM role under which Amazon SES publishes email sending events to the Amazon Kinesis Firehose stream.",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "IAMRoleARN",
                                                    "DeliveryStreamARN"
                                                ],
                                                "type": "object"
                                            },
                                            "MatchingEventTypes": {
                                                "description": "The type of email sending events to publish to the event destination.",
                                                "items": {
                                                    "enum": [
                                                        "send",
                                                        "reject",
                                                        "bounce",
                                                        "complaint",
                                                        "delivery",
                                                        "open",
                                                        "click",
                                                        "renderingFailure"
                                                    ],
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "Name": {
                                                "description": "<p>The name of the event destination. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>",
                                                "type": "string"
                                            },
                                            "SNSDestination": {
                                                "description": "An object that contains the topic ARN associated with an Amazon Simple Notification Service (Amazon SNS) event destination.",
                                                "properties": {
                                                    "TopicARN": {
                                                        "description": "The ARN of the Amazon SNS topic that email sending events will be published to. An example of an Amazon SNS topic ARN is <code>arn:aws:sns:us-west-2:123456789012:MyTopic</code>. For more information about Amazon SNS topics, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/CreateTopic.html\">Amazon SNS Developer Guide</a>.",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "TopicARN"
                                                ],
                                                "type": "object"
                                            }
                                        },
                                        "required": [
                                            "Name",
                                            "MatchingEventTypes"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "ConfigurationSetName",
                                    "EventDestination"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateConfigurationSetTrackingOptions": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates an association between a configuration set and a custom domain for open and click event tracking. </p> <p>By default, images and links used for tracking open and click events are hosted on domains operated by Amazon SES. You can configure a subdomain of your own to handle these events. For information about using custom domains, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html\">Amazon SES Developer Guide</a>.</p>",
                "operationId": "CreateConfigurationSetTrackingOptions",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "An empty element returned on a successful request.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ConfigurationSetDoesNotExistException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TrackingOptionsAlreadyExistsException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidTrackingOptionsException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents a request to create an open and click tracking option object in a configuration set. ",
                                "properties": {
                                    "ConfigurationSetName": {
                                        "description": "The name of the configuration set that the tracking options should be associated with.",
                                        "type": "string"
                                    },
                                    "TrackingOptions": {
                                        "description": "<p>A domain that is used to redirect email recipients to an Amazon SES-operated domain. This domain captures open and click events generated by Amazon SES emails.</p> <p>For more information, see <a href=\"ses/latest/DeveloperGuide/configure-custom-open-click-domains.html\">Configuring Custom Domains to Handle Open and Click Tracking</a> in the <i>Amazon SES Developer Guide</i>.</p>",
                                        "properties": {
                                            "CustomRedirectDomain": {
                                                "description": "The custom subdomain that will be used to redirect email recipients to the Amazon SES event tracking domain.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "ConfigurationSetName",
                                    "TrackingOptions"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateCustomVerificationEmailTemplate": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a new custom verification email template.</p> <p>For more information about custom verification email templates, see <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html\">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>",
                "operationId": "CreateCustomVerificationEmailTemplate",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "CustomVerificationEmailTemplateAlreadyExistsException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "FromEmailAddressNotVerifiedException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "CustomVerificationEmailInvalidContentException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "LimitExceededException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents a request to create a custom verification email template.",
                                "properties": {
                                    "FailureRedirectionURL": {
                                        "description": "The URL that the recipient of the verification email is sent to if his or her address is not successfully verified.",
                                        "type": "string"
                                    },
                                    "FromEmailAddress": {
                                        "description": "The email address that the custom verification email is sent from.",
                                        "type": "string"
                                    },
                                    "SuccessRedirectionURL": {
                                        "description": "The URL that the recipient of the verification email is sent to if his or her address is successfully verified.",
                                        "type": "string"
                                    },
                                    "TemplateContent": {
                                        "description": "The content of the custom verification email. The total size of the email must be less than 10 MB. The message body may contain HTML, with some limitations. For more information, see <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html#custom-verification-emails-faq\">Custom Verification Email Frequently Asked Questions</a> in the <i>Amazon SES Developer Guide</i>.",
                                        "type": "string"
                                    },
                                    "TemplateName": {
                                        "description": "The name of the custom verification email template.",
                                        "type": "string"
                                    },
                                    "TemplateSubject": {
                                        "description": "The subject line of the custom verification email.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "TemplateName",
                                    "FromEmailAddress",
                                    "TemplateSubject",
                                    "TemplateContent",
                                    "SuccessRedirectionURL",
                                    "FailureRedirectionURL"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateReceiptFilter": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a new IP address filter.</p> <p>For information about setting up IP address filters, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>",
                "operationId": "CreateReceiptFilter",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "An empty element returned on a successful request.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "LimitExceededException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AlreadyExistsException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents a request to create a new IP address filter. You use IP address filters when you receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.",
                                "example": {
                                    "Filter": {
                                        "IpFilter": {
                                            "Cidr": "1.2.3.4/24",
                                            "Policy": "Allow"
                                        },
                                        "Name": "MyFilter"
                                    }
                                },
                                "properties": {
                                    "Filter": {
                                        "description": "A data structure that describes the IP address filter to create, which consists of a name, an IP address range, and whether to allow or block mail from it.",
                                        "properties": {
                                            "IpFilter": {
                                                "description": "A structure that provides the IP addresses to block or allow, and whether to block or allow incoming mail from them.",
                                                "properties": {
                                                    "Cidr": {
                                                        "description": "A single IP address or a range of IP addresses that you want to block or allow, specified in Classless Inter-Domain Routing (CIDR) notation. An example of a single email address is 10.0.0.1. An example of a range of IP addresses is 10.0.0.1/24. For more information about CIDR notation, see <a href=\"https://tools.ietf.org/html/rfc2317\">RFC 2317</a>.",
                                                        "type": "string"
                                                    },
                                                    "Policy": {
                                                        "description": "Indicates whether to block or allow incoming mail from the specified IP addresses.",
                                                        "enum": [
                                                            "Block",
                                                            "Allow"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "Policy",
                                                    "Cidr"
                                                ],
                                                "type": "object"
                                            },
                                            "Name": {
                                                "description": "<p>The name of the IP address filter. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "Name",
                                            "IpFilter"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "Filter"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateReceiptRule": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a receipt rule.</p> <p>For information about setting up receipt rules, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>",
                "operationId": "CreateReceiptRule",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "An empty element returned on a successful request.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidSnsTopicException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidS3ConfigurationException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidLambdaFunctionException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "AlreadyExistsException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "RuleDoesNotExistException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "RuleSetDoesNotExistException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "LimitExceededException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents a request to create a receipt rule. You use receipt rules to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.",
                                "example": {
                                    "After": "",
                                    "Rule": {
                                        "Actions": [
                                            {
                                                "S3Action": {
                                                    "BucketName": "MyBucket",
                                                    "ObjectKeyPrefix": "email"
                                                }
                                            }
                                        ],
                                        "Enabled": true,
                                        "Name": "MyRule",
                                        "ScanEnabled": true,
                                        "TlsPolicy": "Optional"
                                    },
                                    "RuleSetName": "MyRuleSet"
                                },
                                "properties": {
                                    "After": {
                                        "description": "The name of an existing rule after which the new rule will be placed. If this parameter is null, the new rule will be inserted at the beginning of the rule list.",
                                        "type": "string"
                                    },
                                    "Rule": {
                                        "description": "A data structure that contains the specified rule's name, actions, recipients, domains, enabled status, scan status, and TLS policy.",
                                        "properties": {
                                            "Actions": {
                                                "description": "An ordered list of actions to perform on messages that match at least one of the recipient email addresses or domains specified in the receipt rule.",
                                                "items": {
                                                    "description": "<p>An action that Amazon SES can take when it receives an email on behalf of one or more email addresses or domains that you own. An instance of this data type can represent only one action.</p> <p>For information about setting up receipt rules, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html\">Amazon SES Developer Guide</a>.</p>",
                                                    "properties": {
                                                        "AddHeaderAction": {
                                                            "description": "Adds a header to the received email.",
                                                            "properties": {
                                                                "HeaderName": {
                                                                    "description": "The name of the header to add. Must be between 1 and 50 characters, inclusive, and consist of alphanumeric (a-z, A-Z, 0-9) characters and dashes only.",
                                                                    "type": "string"
                                                                },
                                                                "HeaderValue": {
                                                                    "description": "Must be less than 2048 characters, and must not contain newline characters (\"\\r\" or \"\\n\").",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "HeaderName",
                                                                "HeaderValue"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "BounceAction": {
                                                            "description": "Rejects the received email by returning a bounce response to the sender and, optionally, publishes a notification to Amazon Simple Notification Service (Amazon SNS).",
                                                            "properties": {
                                                                "Message": {
                                                                    "description": "Human-readable text to include in the bounce message.",
                                                                    "type": "string"
                                                                },
                                                                "Sender": {
                                                                    "description": "The email address of the sender of the bounced email. This is the address from which the bounce message will be sent.",
                                                                    "type": "string"
                                                                },
                                                                "SmtpReplyCode": {
                                                                    "description": "The SMTP reply code, as defined by <a href=\"https://tools.ietf.org/html/rfc5321\">RFC 5321</a>.",
                                                                    "type": "string"
                                                                },
                                                                "StatusCode": {
                                                                    "description": "The SMTP enhanced status code, as defined by <a href=\"https://tools.ietf.org/html/rfc3463\">RFC 3463</a>.",
                                                                    "type": "string"
                                                                },
                                                                "TopicArn": {
                                                                    "description": "The Amazon Resource Name (ARN) of the Amazon SNS topic to notify when the bounce action is taken. An example of an Amazon SNS topic ARN is <code>arn:aws:sns:us-west-2:123456789012:MyTopic</code>. For more information about Amazon SNS topics, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/CreateTopic.html\">Amazon SNS Developer Guide</a>.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "SmtpReplyCode",
                                                                "Message",
                                                                "Sender"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "LambdaAction": {
                                                            "description": "Calls an AWS Lambda function, and optionally, publishes a notification to Amazon SNS.",
                                                            "properties": {
                                                                "FunctionArn": {
                                                                    "description": "The Amazon Resource Name (ARN) of the AWS Lambda function. An example of an AWS Lambda function ARN is <code>arn:aws:lambda:us-west-2:account-id:function:MyFunction</code>. For more information about AWS Lambda, see the <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">AWS Lambda Developer Guide</a>.",
                                                                    "type": "string"
                                                                },
                                                                "InvocationType": {
                                                                    "description": "<p>The invocation type of the AWS Lambda function. An invocation type of <code>RequestResponse</code> means that the execution of the function will immediately result in a response, and a value of <code>Event</code> means that the function will be invoked asynchronously. The default value is <code>Event</code>. For information about AWS Lambda invocation types, see the <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/API_Invoke.html\">AWS Lambda Developer Guide</a>.</p> <important> <p>There is a 30-second timeout on <code>RequestResponse</code> invocations. You should use <code>Event</code> invocation in most cases. Use <code>RequestResponse</code> only when you want to make a mail flow decision, such as whether to stop the receipt rule or the receipt rule set.</p> </important>",
                                                                    "enum": [
                                                                        "Event",
                                                                        "RequestResponse"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "TopicArn": {
                                                                    "description": "The Amazon Resource Name (ARN) of the Amazon SNS topic to notify when the Lambda action is taken. An example of an Amazon SNS topic ARN is <code>arn:aws:sns:us-west-2:123456789012:MyTopic</code>. For more information about Amazon SNS topics, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/CreateTopic.html\">Amazon SNS Developer Guide</a>.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "FunctionArn"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "S3Action": {
                                                            "description": "Saves the received message to an Amazon Simple Storage Service (Amazon S3) bucket and, optionally, publishes a notification to Amazon SNS.",
                                                            "properties": {
                                                                "BucketName": {
                                                                    "description": "The name of the Amazon S3 bucket that incoming email will be saved to.",
                                                                    "type": "string"
                                                                },
                                                                "KmsKeyArn": {
                                                                    "description": "<p>The customer master key that Amazon SES should use to encrypt your emails before saving them to the Amazon S3 bucket. You can use the default master key or a custom master key you created in AWS KMS as follows:</p> <ul> <li> <p>To use the default master key, provide an ARN in the form of <code>arn:aws:kms:REGION:ACCOUNT-ID-WITHOUT-HYPHENS:alias/aws/ses</code>. For example, if your AWS account ID is 123456789012 and you want to use the default master key in the US West (Oregon) region, the ARN of the default master key would be <code>arn:aws:kms:us-west-2:123456789012:alias/aws/ses</code>. If you use the default master key, you don't need to perform any extra steps to give Amazon SES permission to use the key.</p> </li> <li> <p>To use a custom master key you created in AWS KMS, provide the ARN of the master key and ensure that you add a statement to your key's policy to give Amazon SES permission to use it. For more information about giving permissions, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-permissions.html\">Amazon SES Developer Guide</a>.</p> </li> </ul> <p>For more information about key policies, see the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html\">AWS KMS Developer Guide</a>. If you do not specify a master key, Amazon SES will not encrypt your emails.</p> <important> <p>Your mail is encrypted by Amazon SES using the Amazon S3 encryption client before the mail is submitted to Amazon S3 for storage. It is not encrypted using Amazon S3 server-side encryption. This means that you must use the Amazon S3 encryption client to decrypt the email after retrieving it from Amazon S3, as the service has no access to use your AWS KMS keys for decryption. This encryption client is currently available with the <a href=\"http://aws.amazon.com/sdk-for-java/\">AWS SDK for Java</a> and <a href=\"http://aws.amazon.com/sdk-for-ruby/\">AWS SDK for Ruby</a> only. For more information about client-side encryption using AWS KMS master keys, see the <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingClientSideEncryption.html\">Amazon S3 Developer Guide</a>.</p> </important>",
                                                                    "type": "string"
                                                                },
                                                                "ObjectKeyPrefix": {
                                                                    "description": "The key prefix of the Amazon S3 bucket. The key prefix is similar to a directory name that enables you to store similar data under the same directory in a bucket.",
                                                                    "type": "string"
                                                                },
                                                                "TopicArn": {
                                                                    "description": "The ARN of the Amazon SNS topic to notify when the message is saved to the Amazon S3 bucket. An example of an Amazon SNS topic ARN is <code>arn:aws:sns:us-west-2:123456789012:MyTopic</code>. For more information about Amazon SNS topics, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/CreateTopic.html\">Amazon SNS Developer Guide</a>.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "BucketName"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "SNSAction": {
                                                            "description": "Publishes the email content within a notification to Amazon SNS.",
                                                            "properties": {
                                                                "Encoding": {
                                                                    "description": "The encoding to use for the email within the Amazon SNS notification. UTF-8 is easier to use, but may not preserve all special characters when a message was encoded with a different encoding format. Base64 preserves all special characters. The default value is UTF-8.",
                                                                    "enum": [
                                                                        "UTF-8",
                                                                        "Base64"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "TopicArn": {
                                                                    "description": "The Amazon Resource Name (ARN) of the Amazon SNS topic to notify. An example of an Amazon SNS topic ARN is <code>arn:aws:sns:us-west-2:123456789012:MyTopic</code>. For more information about Amazon SNS topics, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/CreateTopic.html\">Amazon SNS Developer Guide</a>.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "TopicArn"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "StopAction": {
                                                            "description": "Terminates the evaluation of the receipt rule set and optionally publishes a notification to Amazon SNS.",
                                                            "properties": {
                                                                "Scope": {
                                                                    "description": "The name of the RuleSet that is being stopped.",
                                                                    "enum": [
                                                                        "RuleSet"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "TopicArn": {
                                                                    "description": "The Amazon Resource Name (ARN) of the Amazon SNS topic to notify when the stop action is taken. An example of an Amazon SNS topic ARN is <code>arn:aws:sns:us-west-2:123456789012:MyTopic</code>. For more information about Amazon SNS topics, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/CreateTopic.html\">Amazon SNS Developer Guide</a>.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "Scope"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "WorkmailAction": {
                                                            "description": "Calls Amazon WorkMail and, optionally, publishes a notification to Amazon Amazon SNS.",
                                                            "properties": {
                                                                "OrganizationArn": {
                                                                    "description": "The ARN of the Amazon WorkMail organization. An example of an Amazon WorkMail organization ARN is <code>arn:aws:workmail:us-west-2:123456789012:organization/m-68755160c4cb4e29a2b2f8fb58f359d7</code>. For information about Amazon WorkMail organizations, see the <a href=\"http://docs.aws.amazon.com/workmail/latest/adminguide/organizations_overview.html\">Amazon WorkMail Administrator Guide</a>.",
                                                                    "type": "string"
                                                                },
                                                                "TopicArn": {
                                                                    "description": "The Amazon Resource Name (ARN) of the Amazon SNS topic to notify when the WorkMail action is called. An example of an Amazon SNS topic ARN is <code>arn:aws:sns:us-west-2:123456789012:MyTopic</code>. For more information about Amazon SNS topics, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/CreateTopic.html\">Amazon SNS Developer Guide</a>.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "OrganizationArn"
                                                            ],
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "Enabled": {
                                                "description": "If <code>true</code>, the receipt rule is active. The default value is <code>false</code>.",
                                                "type": "boolean"
                                            },
                                            "Name": {
                                                "description": "<p>The name of the receipt rule. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>",
                                                "type": "string"
                                            },
                                            "Recipients": {
                                                "description": "The recipient domains and email addresses that the receipt rule applies to. If this field is not specified, this rule will match all recipients under all verified domains.",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "ScanEnabled": {
                                                "description": "If <code>true</code>, then messages that this receipt rule applies to are scanned for spam and viruses. The default value is <code>false</code>.",
                                                "type": "boolean"
                                            },
                                            "TlsPolicy": {
                                                "description": "Specifies whether Amazon SES should require that incoming email is delivered over a connection encrypted with Transport Layer Security (TLS). If this parameter is set to <code>Require</code>, Amazon SES will bounce emails that are not received over TLS. The default is <code>Optional</code>.",
                                                "enum": [
                                                    "Require",
                                                    "Optional"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "Name"
                                        ],
                                        "type": "object"
                                    },
                                    "RuleSetName": {
                                        "description": "The name of the rule set that the receipt rule will be added to.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "RuleSetName",
                                    "Rule"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateReceiptRuleSet": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates an empty receipt rule set.</p> <p>For information about setting up receipt rule sets, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>",
                "operationId": "CreateReceiptRuleSet",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "An empty element returned on a successful request.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "AlreadyExistsException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents a request to create an empty receipt rule set. You use receipt rule sets to receive email with Amazon SES. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.",
                                "example": {
                                    "RuleSetName": "MyRuleSet"
                                },
                                "properties": {
                                    "RuleSetName": {
                                        "description": "<p>The name of the rule set to create. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "RuleSetName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateTemplate": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates an email template. Email templates enable you to send personalized email to one or more destinations in a single API operation. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>",
                "operationId": "CreateTemplate",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "AlreadyExistsException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidTemplateException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents a request to create an email template. For more information, see the <a href=\"http://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html\">Amazon SES Developer Guide</a>.",
                                "properties": {
                                    "Template": {
                                        "description": "The content of the email, composed of a subject line, an HTML part, and a text-only part.",
                                        "properties": {
                                            "HtmlPart": {
                                                "description": "The HTML body of the email.",
                                                "type": "string"
                                            },
                                            "SubjectPart": {
                                                "description": "The subject line of the email.",
                                                "type": "string"
                                            },
                                            "TemplateName": {
                                                "description": "The name of the template. You will refer to this name when you send email using the <code>SendTemplatedEmail</code> or <code>SendBulkTemplatedEmail</code> operations.",
                                                "type": "string"
                                            },
                                            "TextPart": {
                                                "description": "The email body that will be visible to recipients whose email clients do not display HTML.",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "TemplateName"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "Template"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteConfigurationSet": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
[...]
